<!DOCTYPE HTML>
<html>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/index.css">
    <head>
        <title>
            出错!
        </title>
    </head>
    <body>
        <div>
            <p> 出错啦! </p>
            <p>~~~~(>_<)~~~~</p>
        </div>
    </body>
</html>