<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="applicable-device" content="mobile">
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <title>
            ゜HOME
        </title>
    </head>
    <body class="new-home">
      <div class="left-top"></div>
      <div class="my-info">
        <ul>
          <li>
            Github：<a href="https://github.com/heanxu" target="_blank"> https://github.com/heanxu </a>
          </li>
          <li>
            Location：Shanghai
          </li>
          <li>
            Ins：<a href="https://www.instagram.com/heanhsu/?hl=zh-cn" target="_blank"> HeanXu </a>
          </li>
          <li>
            Weibo：<a href="http://weibo.com/u/2341698901?profile_ftype=1&is_hot=1#_0" target="_blank"> @佫侒 </a>
          </li>
          <li>
            Gmail：wufazhucexujingjing@gmail.com
          </li>
        </ul>
      </div>
      <div class="right-bottom"></div>
    </body>
</html>