<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="applicable-device" content="mobile">
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
        <title>
            ゜PHOTO
        </title>
    </head>
    <body class="home_body">
    <div class="navigator">
      <div class="home-logo">
        <a href="/">HEAN</a>
      </div>
      <ul class="navigator-ul">
        <li><a class="home-a " href="/"> ゜HOME</a></li>
        <li><a class="photo-a" style="color: #aaa !important;" >゜PHOTO</a></li>
        <li><a class="essay-a" href="/essay">゜ESSAY</a></li>
        <li><a class="contact-a" href="contact">゜CONTACT</a></li>
      </ul>
    </div>
    <div class="image-list">
      <ul>
        <% photoUrlArr.forEach(function(url){ %>
          <li><img class="ul-img"src=<%=url%> alt="" /></li>
        <% }) %>
      </ul>
    </div>
    <div class="footer">
        <span>©Hean 版权所有 </span>
    </div>
    </body>
    <script type="text/javascript">
    </script>
</html>
