/*
  新版的 css
*/

.new-home {
}

.left-top {
  width: 100px; 
  height: 162px; 
  background: #9CBEE7; 
}

.right-bottom {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 35%;
  height: 2px;
  background: #9CBEE7; 
}

.my-info {
  position: absolute;
  bottom: 90px;
  right: 100px;
  font-family: cursive;
  font-size: 17px;
  color: #999;
}

a {
  text-decoration: none;
  color: #999;
}